<section id="first" class="border-b border-gray-200">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center items-center">
            <div class="flex-auto xl:flex-1 max-w-lg py-16">
                <div class="Montserrat font-bold text-4xl mb-8">PHP Hosting</div>
                <div class="text-3xl mb-8">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</div>
                <ul class="feature-list">
                    <li>Solusi PHP untuk performa query yang lebih cepat.</li>
                    <li>Konsumsi memori yang lebih rendah.</li>
                    <li>Support PHP 5.3, PHP 5.4, PHP 5,5, PHP 5.6, PHP 7</li>
                    <li>Fitur enkripsi lonCube dan Zend Guard Loaders</li>
                </ul>
            </div>
            <div class="flex-1 min-w-full xl:min-w-0 flex justify-center xl:justify-end py-8">
                <img class="max-w-xl" src="/assets/svg/illustration%20banner%20PHP%20hosting-01.svg" alt="PHP7" />
            </div>
        </div>
    </div>
</section>