<section id="third">
    <div class="container mx-auto">
        <div class="flex flex-col items-center mb-16">
            <div class="text-center text-3xl mt-16 mb-8">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</div>
            <div class="flex flex-wrap flex-between flex-wrap justify-center items-center text-sm mb-8">
                <ul>
                    <li class="w-1/5">IcePHP</li>
                    <li class="w-1/5">apc</li>
                    <li class="w-1/5">apcu</li>
                    <li class="w-1/5">apm</li>
                    <li class="w-1/5">ares</li>
                    <li class="w-1/5">bcmath</li>
                    <li class="w-1/5">bcompiler</li>
                    <li class="w-1/5">big_int</li>
                    <li class="w-1/5">bitset</li>
                    <li class="w-1/5">bloomy</li>
                    <li class="w-1/5">bz2_filter</li>
                    <li class="w-1/5">clamav</li>
                    <li class="w-1/5">coin_acceptor</li>
                    <li class="w-1/5">crack</li>
                    <li class="w-1/5">dba</li>
                </ul>
                <div class="w-16 lg:w-24 xl:w-32 h-0"></div>
                <ul>
                    <li class="w-1/5">http</li>
                    <li class="w-1/5">huffman</li>
                    <li class="w-1/5">idn</li>
                    <li class="w-1/5">igbinary</li>
                    <li class="w-1/5">imagick</li>
                    <li class="w-1/5">imap</li>
                    <li class="w-1/5">inclued</li>
                    <li class="w-1/5">inotify</li>
                    <li class="w-1/5">interbase</li>
                    <li class="w-1/5">intl</li>
                    <li class="w-1/5">ioncube_loader</li>
                    <li class="w-1/5">ioncube_loader_4</li>
                    <li class="w-1/5">jsmin</li>
                    <li class="w-1/5">json</li>
                    <li class="w-1/5">ldap</li>
                </ul>
                <div class="w-16 lg:w-24 xl:w-32 h-0"></div>
                <ul>
                    <li class="w-1/5">nd_pdo_mysql</li>
                    <li class="w-1/5">oauth</li>
                    <li class="w-1/5">oci8</li>
                    <li class="w-1/5">odbc</li>
                    <li class="w-1/5">opcache</li>
                    <li class="w-1/5">pdf</li>
                    <li class="w-1/5">pdo</li>
                    <li class="w-1/5">pdo_dblib</li>
                    <li class="w-1/5">pdo_firebird</li>
                    <li class="w-1/5">pdo_mysql</li>
                    <li class="w-1/5">pdo_odbc</li>
                    <li class="w-1/5">pdo_pgsql</li>
                    <li class="w-1/5">pdo_sqlite</li>
                    <li class="w-1/5">pgsql</li>
                    <li class="w-1/5">phalcon</li>
                </ul>
                <div class="w-16 lg:w-24 xl:w-32 h-0"></div>
                <ul>
                    <li class="w-1/5">stats</li>
                    <li class="w-1/5">stem</li>
                    <li class="w-1/5">stomp</li>
                    <li class="w-1/5">suhosin</li>
                    <li class="w-1/5">sybase_ct</li>
                    <li class="w-1/5">sysvmsg</li>
                    <li class="w-1/5">sysvsem</li>
                    <li class="w-1/5">sysvshm</li>
                    <li class="w-1/5">tidy</li>
                    <li class="w-1/5">timezonedb</li>
                    <li class="w-1/5">trader</li>
                    <li class="w-1/5">translit</li>
                    <li class="w-1/5">uploadprogress</li>
                    <li class="w-1/5">uri_template</li>
                    <li class="w-1/5">uuid</li>
                </ul>
            </div>
            <div class="flex justify-center mt-4">
                <button class="button-black">Selengkapnya</button>
            </div>
        </div>

        <div class="flex flex-wrap justify-center items-end">
            <div class="flex-auto xl:flex-1 max-w-lg pt-16">
                <div class="text-3xl mb-8">Linux Hosting yang Stabil <br />dengan Teknologi LVE</div>
                <div class="mb-8">
                    SuperMicro <span>Intel Xeon 24-Cores</span> server dengan <span>RAM 128 GB</span> dan teknologi
                    <span>LVE CloudLinux</span> untuk stabilitas server Anda. Dilengkapi dengan <span>SSD</span>
                    untuk kecepatan <span>MySQL</span> dan caching, Apache load balancer berbasis LiteSpeed
                    Technologies, <span>CageFS</span> security, <span>Raid-10</span> protection dan auto backup
                    untuk keamanan website PHP Anda.
                </div>
                <div class="mb-16">
                    <button class="button-blue">Pilih Hosting Anda</button>
                </div>
            </div>
            <div class="flex-1 min-w-full xl:min-w-0 flex justify-center items-end xl:justify-end pt-8">
                <img class="max-w-xl" src="/assets/images/Image support.png" alt="customer service" />
            </div>
        </div>
    </div>
</section>